<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Izin Dasar Penyimpanan -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    
    <!-- Izin untuk menjalankan Background Service & Notifikasi -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsappHQStatusCompressor">
        
        <!-- SplashActivity sebagai Pintu Masuk Utama (Launcher) -->
        <activity
            android:name="id.xystudio.status.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity sebagai Halaman Utama Aplikasi -->
        <activity
            android:name="id.xystudio.status.MainActivity"
            android:exported="false" />

        <!-- Service 1: Pengolahan Video di Background (Foreground Service) -->
        <service
            android:name="id.xystudio.status.CompressionService"
            android:enabled="true"
            android:exported="false" />

        <!-- Service 2: Pemulihan Chat Terhapus & 1x Lihat (Notification Listener) -->
        <service
            android:name="id.xystudio.status.NotificationRecoveryService"
            android:label="Anti-Tarik Chat"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- FileProvider untuk berbagi file video secara aman -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="id.xystudio.status.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
